{% extends 'base.html' %}


{% block title %}Contact{% endblock %}

{% block content %}


<body>
    {% load static %}
    <form class="email" method="POST" >
    {% csrf_token %}
   <div class="form">
        <label>Name:</label>
        <input type="text" name="name" required>
    </div> 
    <div class="form">
        <label>Email:</label>
        <input type="email" name="email" required>
    </div>
    <div class="message">
        <label>Message:</label>
        <textarea name="message" required></textarea>
    </div>
    <div class="button">    
        <button type="submit">Send</button>
    </div>
    </form>
</body>

{% endblock %}