{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}

<body>
    <h1 class="project-title">My Projects</h1>
    <div class="flex-container">
        

        <div class="flex-item">
            <h2>Blog Style</h2>
            {% load static %}
            <img src="{% static 'images/project1.png' %}" alt="Tim's Place">
             <p> This is for a local business who wanted to get their name out there. This contains basic HTML CSS and Javascript </p>
             link to Repo: <a href="https://github.com/timothysailer2/102" target="_blank">View Project GitHub</a>
        </div>
        <div class="flex-item">
            <h2>Temperature Converter</h2>
            <img src="{% static 'images/project2.png' %}" alt="temp">
             <p> This is a simple temperature converter </p>
             link to Repo: <a href="https://github.com/timothysailer2/103" target="_blank">View Project GitHub</a>
        </div>
        <div class="flex-item">
            <h2>Portfolio Website</h2>
            <img src="{% static 'images/project3.png' %}" alt="Portfolio">
             <p> This is a personal portfolio website showcasing my work and skills. It includes sections for projects, resume, and contact information. </p>
             link to Repo: <a href="https://github.com/timothysailer2/portfolio" target="_blank">View Project GitHub</a>
        </div>
    </div>

</body>

{% endblock %}