{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block content %}
<body>
   <div class="resume-header">
        <div class="resume-contact">
            <h1>Tim Sailer II</h1>
        </div>

        <div class="resume-contact-item">
            <p>Irvine, CA<br>
            657.352.3595<br>
            tlsailer2@outlook.com</p>
        </div>
        
    </div>
    <div class="resume-summary">
            <p>Dedicated customer service professional with 20 years of experience providing high-quality support, resolving customer concerns, and creating positive
               service experiences. Known for strong communication, patience, problem-solving, and the ability to manage challenging situations with professionalism 
               and empathy. Consistently focused on customer satisfaction, team collaboration, and operational efficiency. </p>
    </div>
    <h2 class="exp">Experience</h2>
    <div class="resume-experience">
        
        <div class="resume-experience-item">
            <h3 class="company">TnKeR llc.   Atoka, Ok.</h3>
            <h4>Owner Operator</h4>
            <h4>2021-05/2026</h4>
            <p>Diagnosed and repaired mobile phones and related devices, including hardware and software issues, with a strong focus on quality and 
               turnaround time. Performed screen, battery, charging port, and other component replacements while following company repair standards and 
               safety procedures. Delivered strong customer service by explaining repair options, timelines, and outcomes clearly and professionally. </p>
        </div>
        <div class="resume-experience-item">
            <h3 class="company">NEW Corp   Atoka, Ok.</h3>
            <h4>Customer Support </h4>
            <h4>2018-2021</h4>
            <p>Remote customer service rep; assisted customers with technical issues as well as billing inquiries, upgrades or general questions for their
                Directv service. Consistently balanced efficiency, accuracy, and service quality in a metric-driven environment.  </p>
        </div>
        <div class="resume-experience-item">
            <h3 class="company">DiSH Network   Harlingen, Tx.</h3>
            <h4>Customer Support </h4>
            <h4>2009-2017</h4>
            <p>Delivered high-volume inbound customer support for billing, account management, service changes, and technical concerns. De-escalated upset
                 customers and resolved issues with professionalism, empathy, and clear communication.  </p>
        </div>
    </div>
    <div class="resume-education">
        <h2>Education</h2>
        <div class="resume-education-item">
            <h3>Bachelor of Science in Information Technology</h3>
            <h4 >MSouthern New Hampshire University   Manchester, NH</h4>
            <h3>2000-2004</h3>
            <p>concentration in software development</p>
        </div>
        <div class="resume-education-item">
            <h3>Full Stack Developer Bootcamp</h3>
            <h4>San Diego Global Knowledge University   San Diego, CA</h4>
            <h3>August 2026</h3>
        </div>
    </div>
    <div class="resume-skills">
        <h2>Skills</h2>
        <ul class="list">
            <li>Customer Service</li>
            <li>Conflict Resolution</li>
            <li>High-Volume Metric Driven Environment</li>
            <li>Billing and Account Management</li>
            <li>Data Analysis</li>
            <li>CRM Applications</li>
            <li>JavaScript (ES6+)</li>
            <li>Python(Django/Flask)</li>
            <li>HTML5/CSS3</li>
            <li>SQL/NoSQL Databases</li>
            <li>RESTful APIs</li>
            <li>Version Control (Git/GitHub)</li>
        </ul>
            
    
</body>

{% endblock %}