.profile-container {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 65%;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
  }

  .profile-image {
    flex: 0 0 100px;
  }

  .profile-image img {
    width: 300%;
    height: auto;
    border-radius: 10px;
    display: block;
  }

  .profile-bio {
    flex: 2;
  }

  .profile-bio h2 {
    display: flex;
    padding-left: 300px;
  }

  .profile-bio p {
    line-height: 1.6;
    padding-left: 300px;
  }

  /* Mobile */
  @media (max-width: 600px) {
    .profile-container {
      flex-direction: column;
      text-align: center;
    }

    .profile-image {
      flex: none;
      width: 180px;
    }
  }

   .project-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;} 
  
  .flex-container {
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;

  }
  .flex-item {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    

  }
  .flex-item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .contact_container {
        display: flex;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 150px;
        justify-content: center;

  }
  .contact_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
  }
  .resume-contact {
    display: flex;
    
    
    border-bottom: 2px solid #000000;
  }
  .resume-contact h1 {
    font-size: 64px;
    display: flex;
    padding-top: 40px;
    
  }
  .resume-contact-item{
    display: flex;
    content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 1200px;
    margin-bottom: 10px;
  }
  .resume-summary{
    border-bottom: 2px solid #000000;
    margin-top: 30px;
  }

 .exp{
    display: flex;
    justify-content: center;
 }
   h3{
    font-size: 20px;
    
  } 
  h4{
    font-size: 16px;
    
  }
  .resume-experience{
    border-bottom: 2px solid #000000;
    display: flex;
    
   
  }
  .resume-experience-item{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
   
   
  }
 .email{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
 }
 .form{
  width: 300px;
  padding: 20px;
    border-radius: 10px;
 }
 .message{
 
 border-radius: 10px;
 width: 300px;
 height: 200px;

 }
   @media (min-width: 768px) {
  .message {
  height: 300px;
  }
}
